@media only screen and (min-width: 38rem) {
	header,
	main,
	nav,
	footer {
		max-width: 1200px;
		margin: 0 auto;
	}

	footer {
		max-width: 100%;
	}

	header {
		grid-template-columns: 24px auto;
	}

	.hamburger {
		display: none;
	}

	.navigation {
		display: block;
		border-bottom: solid 1px #eee;
	}

	.navigation ul {
		display: flex;
	}

	.navigation a {
		border: none;
	}

	.signup {
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}
