@media only screen and (min-width: 38rem) {
	header,
	main,
	nav,
	footer {
		max-width: 1200px;
		margin: 0 auto;
	}

	header {
		grid-template-columns: 24px auto;
	}

	.hamburger {
		display: none;
	}

	.navigation {
		display: block;
		max-width: 1210px;
		border-bottom: solid 1px #eee;
	}

	.navigation ul {
		display: flex;
	}

	.navigation a {
		border: none;
	}

	.purpose {
		width: 70%;
		margin-left: 15%;
	}

	.weathercard {
		width: 70%;
		margin-left: 15%;
	}

	.moreweather {
		width: 70%;
		margin-left: 15%;
	}

	.newsletter {
		width: 70%;
		margin-left: 15%;
	}

	.pagebuttons {
		width: 70%;
		margin-left: 10%;
		display: flex;
		align-items: center;
	}
}
